<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${admin_text}"></title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:insert="blocks/header :: header"></div>


<div class="container">
    <h1 th:text="${admin_text}"></h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Login</th>
            <th scope="col">Password</th>
            <th scope="col">Button delete</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="u:${users}">
            <td th:text="${u.getId()}"></td>
            <td th:text="${u.getUsername()}"></td>
            <td th:text="${u.getPassword()}"></td>
            <td>
                <form method="post" action="/admin/user/delete">
                    <button type="submit" name="id" class="btn btn-danger" th:value="${u.getId()}">Delete</button>
                </form>
            </td>
            <!--<td><a th:href="@{'/admin/user/' + ${u.getId()}}"><button type="button" class="btn btn-info">Info</button></a></td>-->
        </tr>

        </tbody>
    </table>
    <div class="col-3">
        <a href="/admin/user-add"><button type="button" class="btn btn-info">Add user</button></a>
    </div>
</div>


</body>
</html>