<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:insert="blocks/header :: header"></div>

<div class="container">

    <div class="jumbotron">
        <h1 th:text="${film.get().getName()}" class="display-4"></h1>
        <a th:href="${film.get().getUrl()}"><button type="button" class="btn btn-success">Let's go to move</button></a>
        <hr class="my-4">
        <p class="lead">

            <nav id="navbar-example2" class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#">Comments</a>
            </nav>
            <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
        <div th:each="c:${comments}"  class="alert alert-dark" role="alert">
            <span th:text="${c.getName()}+': '"></span><span th:text="${c.getMessage()}"></span>
        </div>
    </div>



        </p>

        <form action="/film/comment/send" method="post">
            <input class="form-group" name="message"  placeholder="Message">
            <button type="submit" th:value="${film.get().getId()}"  name="film_id" class="btn btn-secondary">Send</button>
        </form>
        <label th:text="${error}"></label>
    </div>

    <form class="p-2 text-dark" th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-secondary">Log out</button>
    </form>
</div>


</body>
</html>