<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${admin_text}"></title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:insert="blocks/header :: header"></div>


<div class="container mt-5">
    <h1>Edit films</h1>
    <form action="/admin/film/edit" method="post">
        <input type="text" th:value="${film.getName()}" name="name" placeholder="name" class="form-control">
        <input type="text" th:value="${film.getUrl()}" name="url" placeholder="url" class="form-control">
        <button type="submit" th:value="${film.getId()}" name="id" class="btn btn-success">Edit film</button>
    </form>
</div>



</body>
</html>